/* 
didactic purposes
Some items are intentionally not optimized or not coded in the right way
FastTrackIT 2015,
version 1.0
*/

body {
    background-color:navajowhite;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 125%;
    padding: 0;
    margin: 0;
}


h1 {
    font-size: large;
    background-color: dodgerblue;
    color: white;
    padding-top: 2em;
    padding-bottom: .2em;
    padding-left: .4em;
    margin: 0;
    text-align: center;
}

#tagline p {
    font-style: italic;
    font-family: Georgia, Times, serif;
    background-color: #bed8f3;
    border-top: 3px solid #7da5d8;
    border-bottom: 3px solid #7da5d8;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .8em;
    margin: 0;
    text-align: center;

}

#becali {
    margin: auto;
    width: 20%;
    padding: 100px;
}

#header {
    position: absolute;
    border-top: 3px solid #7da5d8;
    width: 100%;
}

#navigation {
    position: absolute;
    left: 55px;
    top: 650px;
    width:auto;
    height:auto;
    color:black;

}

#bodycontent {
    position: absolute;
    left: 140px;
    top: 400px;
    padding-top:.4em;
    padding-left:2em;
}

#picturecontent {
    position: absolute;
    left: 590px;
    top: 300px;
    width: 500px;
    height:180px;
    color:black;
    padding-left: .8em;

}

#serverResponse {
    color:red;
    position: absolute;
    top: 500px;
    left: 140px;
    width: 200px;
    background-color: navajowhite;
    color: blue;
    padding-left: .8em;

}











/* padding - between border and text -*/


/* class selector*/
.test {
    color: #aa0044;
}

.highlight {
    border-width: 10px;
    border-style: inset;
    border-color: #999999;
}